body {
  position: relative;
}

#timer {
  position: absolute;
  top: 100px;
  /* h1からの距離を調整 */
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

#game-container {
  padding-top: 30px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 0;
}

h1 {
  font-size: 48px;
  text-align: center;
  color: #333;
  margin-top: 50px;
  z-index: 1;
}

.card {
  position: relative;
  width: 120px;
  height: 180px;
  margin: 10px;
  perspective: 800px;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
  border-radius: 10px;
  /* 丸みを追加 */
}

.card.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  /* 丸みを追加 */
}

.card-front {
  background-image: url('https://picsum.photos/120/180/');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #F5F5F5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.card-back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #444;
}

.card-back::before {
  content: attr(data-value);
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  transform: rotateY(180deg);
}
